*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.nav-list
{
display:flex;  
height:10%;
/* background-color:yellow; */
    
}
.nav-list li
{
list-style: none;         /* to remove dots  */
}

.nav-list li a
{
   color:rgb(223, 230, 227);
    padding:12px 12px;
    margin:12px 10px;
    border-radius: 12px;
    position:relative;
    display:flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.nav-list li a:hover{
    background-color: rgb(65, 63, 63);
    cursor: pointer;
    /* border: 0.1em solid black; */
}

.navbar
{
display:flex; 
width:100vw;
background-color:rgb(3, 3, 3);
overflow-x: hidden; 
}

.logo img
{   
    width: 49px;
    height: 50px;
    border-radius:0%;
    top: 6px;
    position: relative;
    right: -5px

}

.rightNav
{
    position: absolute;
    top: 22px;
    right: 33px;
    /* width:50% ; */
    /* background-color: */
}
#heading
{
    position: relative;
    top: 13px;
    font-size: 5rem;
    display: flex;    /* display flex is must  for using align-items, and ffor using justtify-content */
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}  


.btn btn-sm{
    width:12px;
    height:12px;

}

#search
{
border-radius:12px;
padding:5px;
overflow-x: hidden;
}

.background
{
background:rgba(0,0,0,0.7)url('./image.jpeg');
background-size:cover;
background-blend-mode:darken;
width:100vw;
height:100vh; 
overflow-x: hidden;
}

.box-main
{
 display:flex;  
 justify-content: center;
 align-items: center; 
 /* margin:0px 102px; */
 padding:126px 160px;
 overflow-x: hidden;
}
.secRight
{
display: flex;
padding: 12px 51px;
margin: -8px;
position: relative;
top: 9px;
background-color: rgba(0, 0, 0, 0.05);
overflow-x: hidden;
}
.secleft
{
display: flex;
flex-direction: row-reverse;
padding: 46px 37px;

}
.sectionTag{
    font-family: 'Courier New', Courier, monospace;
}

#myimg
{   
    position: relative;
    right: 63px;
    width: 25vw;
    height: 38vh;
    left: 81px;
    border: 2px solid rgb(241, 9, 9);
}

.firstHalf
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-big
{
    font-size: 2rem;
    color:rgb(130, 160, 102);
    font-family: 'Courier New', Courier, monospace;
    font-weight:44px;
    padding:12px 2px;
    margin:11px 1px;
}

.text-small
{
 font-size: 1rem;
 position:relative;
 left:12px;
 color:white; 
 padding-left:2px;  
}
.text-footer
{
    position: relative;
    bottom: 5px; 
    height: 70px;
    background-color: red;
}

.buttons
{
    display:flex;
}

.btn
{
background:none;
border-radius:68px;
padding: 9px 34px;
margin: 12px;
color:aliceblue;

}
.para
{
    display: flex;
    flex-direction: column;
}
.thumbnail img
{
    height: 32vh;
    width: 20vw;
}
.sectionTag
{
 display: flex;
 align-items: center;
}                                             
/* don't use colors that much because it will give a good look */

.form input
{
    padding:3px 76px;
    margin:12px 12px;
    display:flex;
    flex-direction: column;
    border-radius:12px;
}
.contact
{
background-color:rgb(224, 221, 216);
display: flex;
flex-direction: column;
align-items: center;
position:center;
top:46px;
font-size:32px;
padding:77px 12px;
margin: 12px -5px;
margin:auto;
}
.left
{
 padding: -2px 44px;;
 margin:11px 11px;   
 
}

#text
{
position:relative;
left:58px;
}
.submit
{
    position: relative;
    left:-106px;
    top: 18px;
}
.text-footer{
    position: relative;
    background-color: rgb(7, 7, 7);
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;    
}

@media only screen and (max-width:1140px)
{
    .nav-list
{
flex-direction: column;           
align-items: center;
justify-content: center;


}
.navbar{
    flex-direction: column;
}
.rightNav
{
width:38%;  
position: relative;
right: -39%;
top: -37%; 
display:flex;
text-align: center;
margin:auto;
}
.buttons{
    padding:12px 11px;
}
@media only screen and (max-width:948px)
{
    .secRight
{
flex-direction: column;
}
.secleft
{
        flex-direction: column;
}
    
    
}
@media only screen and (max-width:932px)
{
.thumbnail img
    {
        width:75%;
        height:-15%;
    }
}
.box-main
{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

     #myimg{
        position: relative;
        right: 52px;
        width: 50vw;
        height: 38vh;
        left: 0px;
        border: 2px solid rgb(241, 9, 9);
     }
}




























